.in-game-top-var {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.in-game-game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in-game-kana-character {
    font-size: 30vw;
}

.in-game-romanji-character {
    font-size: 15vw;
}